<h1>Johnson's Elite Teams!</h1>

<div>
   <h2>Team Name:<%=@team.name%>!</h2>
  <h2>Team Motto:<%=@team.motto%>!</h2>
  <h2>Hero Name:<%=hero.name%></h2>
  <p>Hero Power:<%=hero.power%></p><br>
  <p>Hero Bio:<%=hero.bio%></p><br>
  
  <h2>Team Name:<%=@team.name%>!</h2>
  <h2>Team Motto:<%=@team.motto%>!</h2>
  <h2>Hero Name:<%=hero.name%></h2>
  <p>Hero Power:<%=hero.power%></p><br>
  <p>Hero Bio:<%=hero.bio%></p><br>
  
  <h2>Team Name:<%=@team.name%>!</h2>
  <h2>Team Motto:<%=@team.motto%>!</h2>
  <h2>Hero Name:<%=hero.name%></h2>
  <p>Hero Power:<%=hero.power%></p><br>
  <p>Hero Bio:<%=hero.bio%></p><br>
  </div><br>
<% end %>


